#mwchat-container {
	position: relative;
	width: 100%;
}
#mwchat-main {
	width: 67%;
}
#mwchat-content {
	height: 450px;
	overflow-y: scroll;
}
#mwchat-table {
	width: 100%;
	table-layout: fixed;
}
.mwchat-useritem-content {
	height: 200px;
	overflow-y: scroll;
}
#mwchat-users {
	width: 33%;
	position: absolute;
	left: 67%;
	top: 0;
	height: 450px;
	overflow-y: auto;
}
#mwchat-me {
	width: 33%;
	position: absolute;
	left: 67%;
	top: 450px;
	padding-left: 10px;
}
#mwchat-type input, .mwchat-useritem input {
	width: 100%;
}
.mwchat-item-message {
}
.mwchat-item-messagecell {
	width: 77%;
}
.mwchat-item-timestamp-container {
	float: right;
	margin-left: 6px;
	margin-right: 3px;
	position: relative;
}
.mwchat-item-timestamp {
	color: #CCC;
	text-transform: lowercase;
}
.mwchat-item-timestamp.real {
	text-align: right;
	width: 8em;
	position: absolute;
	right: 0;
	top: 0;
	background-color: #FFF;
	padding-bottom: 5px;
}
.mwchat-item-user {
	margin: 5px;
	width: 20%;
	overflow: hidden;
	white-space: nowrap;
	text-align: right;
	vertical-align: top;
}
.mwchat-useritem-content .mwchat-item-user {
	width: 90px;
}
.mwchat-useritem {
	padding: 5px;
	background-color: #FFF;
	transition: background-color 0.5s;
	-webkit-transition: background-color 0.5s;
}
.mwchat-useritem[data-read="true"] {
	background-color: #FDD;
}
.mwchat-useritem.noshow {
	cursor: pointer;
}
.mwchat-item-avatar {
	width: 26px;
	vertical-align: top;
}
.mwchat-item-avatar img {
	margin-left: 5px;
	margin-right: 5px;
}
.mwchat-item-message * {
	display: inline;
}
.mwchat-useritem-blocklink {
	float: right;
	padding-left: 0.5em;
	color: #000 !important;
}
.mwchat-useritem-kicklink {
	float: right;
	padding-right: 0.5em;
	color: #000 !important;
}
.mwchat-useritem-pmlink {
	padding-left: 0.5em;
	color: #000 !important;
}
.mwchat-message.system .mwchat-item-message {
	color: #888;
}
.mwchat-message.system td {
	padding-left: 3em;
}
.mwchat-useritem-window .mwchat-avatar {
	margin-right: 2px;
}
.mwchat-useritem img {
	margin-left: 3px;
	margin-right: 2px;
}
#mwchat-no-other-users {
	padding: 1em;
}
#mwchat-topic {
	text-align: center;
}