[access]
	inheritFrom = mediawiki/extensions
[receive]
	requireChangeId = true
[submit]
	mergeContent = true
[project]
	description = The MediaWikiChat extension provides a lightweight chat client and server for MediaWiki, accessed through Special:Chat.
[access "refs/*"]
	owner = group extension-MediaWikiChat
[allowSuperproject "mediawiki/extensions"]
	matching = refs/heads/REL1_27:refs/heads/REL1_27
